<div id="banner">
  <h1>Welcome, <%= current_user.username %></h1>
</div>

<%= link_to 'Log Out', logout_path, method: :delete %>

<div id="idea_list">
  <ul>
  <% current_user.ideas.each do |idea| %>
    <li>
      <%= idea[:title] %><br />
      <%= idea[:description] %><br />
    </li>
  <% end %>
  </ul>
</div> <!-- end idea_list -->
